#people-list {
  float: left;
  margin-left: 1em;
  margin-right: 1em;
  width: 20%;
}

.selected {
  background-color: #CFD8DC !important;
  color: white;
}

.people {
  margin: 0 0 2em 0;
  list-style-type: none;
  padding: 0;
  width: 15em;
}

  .people li {
    cursor: pointer;
    background-color: #EEE;
    margin: .5em;
    padding: .2em .5em;
    border-radius: 4px
  }

    .people li.selected:hover {
      background-color: #BBD8DC !important;
      color: white;
    }

    .people li:hover {
      color: #607D8B;
      background-color: #DDD;
      left: .1em;
    }
