#avatar-img {
  height: 256px;
  min-height: 256px;
  width: 22%;
  min-width: 22%;
  float: left;
  margin-right: 2em;
  margin-bottom: 2em;
  text-align: center;
  vertical-align: central;
}

  #avatar-img:last-of-type {
    padding-right: 0;
  }

.grid {
  margin-left: 1em;
}

.person-filler {
  min-height: 192px;  
}

.person-name {
  max-height: 64px;
  padding: 1em;
  text-align: center;
  color: #eee;
  background-color: #607D8B;
}

  .person-name:hover {
    background-color: transparent;
  }
