#person-detail {
  float: left;
  width: 75%;
  margin-left: 1em;
}

.avatar-spacer {
  height: 33.33%;
  min-height: 33.33%;
  width: 100%;
  min-width: 100%;
}

.hideme {
  visibility: hidden;
  max-height: 0;
}

#semi-transparent {
  cursor: pointer;
  font-weight: bold;
  text-align: center;
  vertical-align: middle;
  color: transparent;
}

  #semi-transparent:hover {
    color: white;
    background-color: #90aeae;
    opacity: 0.8;
  }

#person-table {
  margin-bottom: 1em;
}

#t-lbl {
  font-weight: bold;
  text-align: right;
  padding-left: 1em;
  padding-right: .5em;
}

#t-dat input {
  cursor: pointer;
  border: none;
  color: darkblue;
  background-color: inherit;
}

#t-dat input:hover {
  background-color: lightgray;
}

  #t-dat input:focus {
    cursor: auto;
    border: inset;
    background-color: inherit;
  }

button {
  padding: 5px 15px;
  border: 1px solid #0066cc;
  border-radius: 5px;
  background-color: #0099cc;
  color: #ffffff;
}

  button:hover {
    border: 1px solid #0099cc;
    background-color: #00aacc;
    color: #ffffff;
  }

.disableme {
  border: 1px solid #aaaaaa;
  background-color: #cccccc;
  color: #666666;
}

  .disableme:hover {
    border: 1px solid #aaaaaa;
    background-color: #cccccc;
    color: #666666;
    cursor: default;
  }
