#person-detail {
  float: left;
  width: 75%;
}

img {
  border-color: grey;
  border-style: solid;
  border-width: 1px;
  border-radius: 4px;
  min-height: 128px;
  min-width: 64px;
  max-height: 128px;
  max-width: 128px;
  display: block;
}

hr {
  display: block;
  height: 2px;
  border: 0;
  border-top: 1px solid #ccc;
  margin-left: 0em;
  margin-right: 1em;
  padding: 0;
}
