#people-header {
  background-image: url(../assets/img/people-network-header.jpg);
  background-repeat: no-repeat;
  background-position: center center;
  padding: 100px 100px;
  margin-top: 1em;
  margin-bottom: 1em;
  min-height: 100%;
}

h1, h3 {
  color: #333e99;
  font-family: Arial, Helvetica, sans-serif;
  text-align: center;
  margin-top: 4px;
}

h1 {
  font-size: 400%;
  margin-bottom: 4px;
}

hr {
  margin-top: 0;
}

nav a {
  padding: 5px 10px;
  text-decoration: none;
  margin-top: 10px;
  margin-bottom: 0;
  display: inline-block;
  background-color: #eee;
}

  nav a:visited, a:link {
    color: #607D8B;
  }

  nav a:hover {
    color: #039be5;
    background-color: #CFD8DC;
  }

  nav a.active {
    color: #039be5;
  }
